body {
    margin: 0;
    padding: 0;
    background-image: url('../../sorce/background/bg.jpg');
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center;
    background-color: #333333;
   
}

nav {
    position: absolute;
    right: 20px;
    top: 35px;
}

nav a {
    text-decoration: none;
    color: #333333;
    font-size: 18px;
    font-weight: bold;
    margin-left: 3px;
    display: inline-block;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px white solid;
    border-radius: 2em;
    background-color: white;
    box-shadow: 0 0px 20px rgba(0, 0, 0, 0.671);
    transition: background-color 0.3s, color 0.3s;
}

nav a:hover {
    color: white;
    background-color: #333333;
}

header {
    text-align: center;
    margin-top: 90px;
}

header h1, main {
    position: relative;
    display: block;
    width: 800px; 
    margin: 0 auto;
    padding: 10px;
    box-shadow: 0 0px 20px rgba(0, 0, 0, 0.671);
}

header h1 {
    border: 2px solid white;
    border-radius: 0.6em;
    background-color: white;
    font-family: "Alexandria", sans-serif;
    color: #171717;
    font-size: 2.13em;
    margin-bottom: 30px;
}

main {
    height: 290px;
    border: 2px solid white;
    border-radius: 1.2em;
    background-color: white;
    padding-top: 56px;
}

.menuoption {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.form-group {
    display: inline-block;
    justify-content: flex-start;
    position: relative;
    flex: 1;
}

select {
    padding-bottom: 5.8px;
}

option {
    display: block;
    text-align: left;
    text-align-last: right;
    cursor: pointer;
    font-size: 20px;
    margin: 0;
    background-color: white;
    transition: background-color 0.2s ease;
    
}

option:hover {
    border: 2px solid #333333;
    background-color: aqua;
}

input, output {
    font-family: "Gentium Plus", serif;
    font-size: 34px;
    color: #171717;
}

/* Option satuan awal dan input nilai */
.container1 {
    display: flex;
    align-items: center;
    border: 2.5px solid #171717;
    border-radius: 12px;
    padding-left: 4px;
    overflow: hidden;
    width: 320px;
    height: 70px;
    box-sizing: border-box;
    margin-right: 50px;
}

/*input nilai*/
#angka {
    width: 220px;
    margin: 0;
    padding: 10px;
    border: none;
    outline: none;
    padding-bottom: 15.8px;
}

#awal {
    border: none;
    outline: none;
    font-family: "Gentium Plus", serif;
    font-weight: 500;
    font-size: 34px;
    color: #171717;
    margin-left: -10px;
    cursor: pointer;
}

.judul-awal {
    display: flex;
    font-size: 14px;
    font-family: 'Times New Roman', Times, serif;
    color: #171717;
    font-weight: 700;
    position: absolute;
    top: 24px;
    left: 55px;
}

/*Gambar tanda panah*/
.tandapanah {
    position: absolute;
    z-index: 3;
    width: 40px;
    height: 40px;
    top: 71.5px;
    align-items: center;
}

/*Option pilihan akhir dan output hasil */
.container2 {
    display: flex;
    align-items: center;
    border: 2.5px solid #171717;
    border-radius: 12px;
    overflow: hidden;
    width: 320px;
    height: 70px;
    box-sizing: border-box;
    margin-left: 20px;
}

#dipilih {
    border: 2px solid #171717;
    width: 300px;
    overflow-x: auto;
    scrollbar-gutter: auto;
    font-family: "Gentium Plus" serif;
    font-size: 34px;
    color: #171717;
    margin: 0;
    margin-right: 5px;
    padding-left: 13px;
    /*padding: 14px;*/
    padding-bottom: 4.5px;
    border: none;
    /*outline: none;*/
}

#dipilih::-webkit-scrollbar {
    display: inline;
    height: 3px;
}

#dipilih::-webkit-scrollbar-track {
    background: #f0f0f0;
    margin: 15px;
}

#dipilih::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 2px;
}

#dipilih::-webkit-scrollbar-thumb:hover {
    background: #555;
}

#akhir {
    border: none;
    outline: none;
    font-family: "Gentium Plus", serif;
    font-weight: 500;
    font-size: 34px;
    margin-right: 10px;
    cursor: pointer;
}

.judul-akhir {
    display: flex;
    font-size: 14px;
    font-family: 'Times New Roman', Times, serif;
    color: #171717;
    font-weight: 700;
    position: absolute;
    top: 24px;
    right: 268px;
}

.hasil {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 30px;
    padding-top: 40px;
}

.default, .lainnya {
    display: flex;
    font-family: "Gentium", serif;
    font-size: 32px;
    color: #171717;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

.default {
    margin: 0;
    position: absolute;
    left: 52px;
    top: 130px;
    width: 270px;
    white-space: nowrap;
    overflow-x: auto;
}

.default::-webkit-scrollbar {
    display: none;
}

.jdllnnya {
    font-family: "Gentium", serif;
    font-weight: 700;
    color: #171717;
    margin: 0;
    margin-top: 5px;
    margin-left: 10px;
    display: flex;
    align-items: flex-start;
    font-size: 14px;
    position: absolute;
    right: 232.5px;
}

.lainnya {
    display: flex;
    flex-direction: column;
    border-left: 2px solid #171717;
    padding-left: 7px;
    line-height: 28px;
    padding-top: 20px;
    margin-top: 5px;
    position: absolute;
    right: 56px;
    width: 308px;
    white-space: nowrap;
    overflow-x: auto;
}

.lainnya::-webkit-scrollbar {
    height: 3px;
}

.lainnya::-webkit-scrollbar-track {
    background: #f0f0f0;
    margin: 10px;
}

.lainnya::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 2px;
}

.lainnya::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.lainnya p {
    margin: 5px 0;
}

footer {
    text-align: center;
    margin-top: 90px;
    padding: 10px;
    background-color: rgb(27, 27, 27);
    font-family: "Hanuman", serif;
    font-weight: 300;
    color: #fff;
    font-size: 0.85rem;
}
